<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="actor" class="com.stackroute.Actor">
        <constructor-arg name="name" value="ranveer"></constructor-arg>
        <constructor-arg name="age" value="34"></constructor-arg>
        <constructor-arg name="gender" value="male"></constructor-arg>
    </bean>
    <bean id="actor1" class="com.stackroute.Actor">
        <constructor-arg name="name" value="actor2"></constructor-arg>
        <constructor-arg name="age" value="34"></constructor-arg>
        <constructor-arg name="gender" value="male"></constructor-arg>
    </bean>
    <bean id="actor2" class="com.stackroute.Actor">
        <constructor-arg name="name" value="actor3"></constructor-arg>
        <constructor-arg name="age" value="34"></constructor-arg>
        <constructor-arg name="gender" value="male"></constructor-arg>
    </bean>
    <bean name="movie1" class="com.stackroute.Movie">
        <!--name actor is from property of movie and refering to actor object-->

        <property name="actor" >
                <list>
            <ref bean="actor"></ref>
                    <ref bean="actor1"></ref>
                    <ref bean="actor2"></ref>
                </list>
        </property>

    </bean>
    <bean name="movie2" class="com.stackroute.Movie">
        <!--name actor is from property of movie and refering to actor object-->

        <property name="actor" >
            <list>
                <ref bean="actor"></ref>
                <ref bean="actor1"></ref>
                <ref bean="actor2"></ref>
            </list>
        </property>

    </bean>

</beans>